#song {

  font-family: 'Anton', sans-serif;
    display:flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    margin: 50px 100px 50px 100px;
    padding: 15px;
    border-radius: 20px;
    
  }

body{
  font-family: 'Bebas Neue', cursive;
  font-size: 20px;
  color: rgb(11, 238, 200);
  background-color: rgb(214, 116, 190);
  text-align: center;
}

#header {
  background-color: black;
  font-size: 40px;
}

.image {
  width: 350px;
  height: auto;
  align-content: center;
}